<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.item.mapper.CommentMapper">


    <select id="listCommentByItemId" resultType="com.cz.item.domain.ItemComment">
        SELECT
          sys_item_comment.id,
          sys_item_comment.item_id,
          sys_item_comment.username,
          sys_item_comment.comment,
          sys_item_comment.comment_date,
          sys_item_comment.rating,
          front_user.profile
        FROM sys_item sys_item
        left JOIN sys_item_comment sys_item_comment
        ON sys_item.id = sys_item_comment.item_id
        LEFT JOIN front_user front_user
        ON front_user.USERNAME = sys_item_comment.username
        WHERE sys_item.id = #{itemId}
        ORDER BY sys_item_comment.comment_date DESC
    </select>
</mapper>