<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.item.mapper.CommentMapper">


    <select id="listCommentByItemId" resultType="com.cz.item.domain.Comment">
        SELECT
          id,item_id,username,comment,comment_date,rating
        FROM sys_comment
        WHERE item_id = #{itemId}
    </select>
</mapper>