<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.item.mapper.ItemMapper">


    <resultMap id="item" type="com.cz.item.domain.Item">
        <id property="id" column="item_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="describe" column="describe"/>
        <association property="category" column="category" javaType="com.cz.item.domain.Category">
            <id property="id" column="category_id"/>
            <result property="parentId" column="parent_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    
    <resultMap id="itemDetail" type="com.cz.item.domain.Item">
        <id property="id" column="item_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="describe" column="describe"/>
        <association property="category" column="category" javaType="com.cz.item.domain.Category">
            <id property="id" column="category_id"/>
            <result property="parentId" column="parent_id"/>
            <result property="name" column="name"/>
        </association>
        <collection property="shownImages" column="images" ofType="java.lang.String" javaType="ArrayList" >
            <result property="url" column="url"></result>
        </collection>
        <collection property="params" column="params" ofType="com.cz.item.domain.Param" javaType="ArrayList">
            <id property="id" column="param_id"></id>
            <result property="paramName" column="param_name"></result>
            <result property="paramDescribe" column="param_describe"></result>
            <collection property="paramDetails" column="param_details" ofType="com.cz.item.domain.ParamDetail" javaType="ArrayList">
                <result property="paramValue" column="param_value"></result>
                <result property="inventory" column="inventory"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="listHotItems" resultMap="item">
       SELECT
            item.id as item_id,
            item.name,
            item.price,
            item.image,
            item.describe,
            category.id as category_id,
            category.name,
            category.parent_id
        FROM
            sys_item item
        LEFT JOIN sys_item_hot item_hot
          on item.id = item_hot.item_id
        LEFT JOIN sys_category category
          on item.category_id = category.id
    </select>
    
    <select id="getItemDetail" resultMap="itemDetail">
        SELECT
            item.id as item_id,
            item.name,
            item.price,
            item.image,
            item.describe,
            category.id as category_id,
            category.name,
            category.parent_id,
            images.url,
            param.id param_id,
            param.param_name param_name,
            param.param_describe param_describe,
            item_param.param_value param_value,
            item_param.inventory inventory
        FROM
            sys_item item
        LEFT JOIN sys_category category
          ON item.category_id = category.id
        LEFT JOIN sys_item_images images
          ON item.id = images.item_id
        LEFT JOIN sys_item_param item_param
          ON item_param.item_id = item.id
        LEFT JOIN sys_param param
          ON param.id = item_param.param_id
        WHERE item.id = #{itemId}
    </select>
</mapper>