<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.item.mapper.OrderMapper">


    <resultMap id="order" type="com.cz.item.domain.Order">
        <id property="id" column="id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="username" column="username"/>
        <result property="image" column="image"/>
        <result property="itemId" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="postFee" column="post_fee"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="count" column="count"/>
        <result property="totalPrice" column="total_price"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="paymentTime" column="payment_time"/>
        <result property="consignTime" column="consign_time"/>
        <result property="endTime" column="end_time"/>
        <result property="closeTime" column="close_time"/>
        <result property="shippingName" column="shipping_name"/>
        <result property="shippingNumber" column="shipping_number"/>
        <result property="orderMessage" column="order_message"/>
        <collection property="orderTracks" column="orderTracks" ofType="com.cz.item.domain.OrderTrack" javaType="ArrayList">
            <id property="id" column="track_id"/>
            <result property="orderId" column="track_order_id"/>
            <result property="trackInformation" column="track_information"/>
            <result property="trackTime" column="track_time"/>
            <result property="status" column="track_status"/>
        </collection>
    </resultMap>

    <resultMap id="itemOrderInfo" type="com.cz.item.dto.ItemOrderInfo">
         <result property="orderNumber" column="order_number"/>
         <result property="username" column="username"/>
         <result property="image" column="image"/>
         <result property="itemId" column="item_id"/>
         <result property="itemName" column="item_name"/>
         <result property="totalPrice" column="total_price"/>
    </resultMap>

    <select id="listOrders" resultMap="order">
       SELECT
        sys_order.id as id,
        sys_order.order_number as order_number,
        sys_order.username as username,
        sys_order.image as image,
        sys_order.item_id as item_id,
        sys_order.item_name as item_name,
        sys_order.address as address,
        sys_order.status as status,
        sys_order.post_fee as post_fee,
        sys_order.price as price,
        sys_order.discount as discount,
        sys_order.`count` as `count`,
        sys_order.total_price as total_price,
        sys_order.create_time as create_time,
        sys_order.update_time as update_time,
        sys_order.payment_time as payment_time,
        sys_order.consign_time as consign_time,
        sys_order.end_time as end_time,
        sys_order.close_time as close_time,
        sys_order.shipping_name as shipping_name,
        sys_order.shipping_number as shipping_number,
        sys_order.order_message as order_message,
        sys_order_track.id as track_id,
        sys_order_track.order_id as track_order_id,
        sys_order_track.track_information as track_information,
        sys_order_track.track_time as track_time,
        sys_order_track.status as track_status
       FROM  sys_order sys_order
       LEFT JOIN sys_order_track sys_order_track
       ON sys_order.id = sys_order_track.order_id
       WHERE sys_order.username = #{username}
    </select>


    <select id="getItemOrderInfo" resultMap="itemOrderInfo">
        SELECT
         orderNumber,
         username,
         image,
         itemId,
         itemName,
         totalPrice
        FROM  sys_order
        WHERE id = #{orderId}
    </select>
</mapper>